* {
  border: 1px solid red;
}

.word {
  display: flex;
  letter-spacing: 2px;
  padding: 5px;
  list-style: none;
  /* text-decoration: underline; */
}

.word li {
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid blue;
}
